
bugs {
    display: block;
    margin-bottom: 20px;
    border: 1px solid blueviolet; /* Add border */
    padding: 10px; /* Add padding */
  }
  
  
  bug {
    display: block;
    margin-bottom: 20px;
    margin-right: 10px;
    border: 1px solid black;
    padding: 10px;
  }
  
  /* Styles for bug id */
  bug > id {
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 10px;
  }
  
  /* Styles for bug title */
  bug > title {
    font-size: 1.2em;
    margin-bottom: 5px;
    margin-right: 10px;
  }
  
  /* Styles for bug description */
  bug > description {
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  /* Styles for bug issue date */
  bug > issue_date {
    font-style: italic;
    color: #666;
    margin-right: 10px;
  }
  
  /* Styles for bug progress */
  bug > progress {
    font-weight: bold;
    margin-right: 10px;
  }
  
  /* Styles for action */
  action {
    display: block;
    margin-right: 10px;
  }
  
  /* Styles for assigned_to */
  action > assigned_to {
    font-weight: bold;
    margin-right: 10px;
  }
  
  /* Styles for status */
  action > status {
    font-style: italic;
    color: green;
    margin-right: 10px;
  }
  